.aboutus-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}

.aboutus-left {
    width: 40%;
    background: #ffffff;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2;
}

.aboutus-logo {
    width: 120px;
    height: auto;
    margin-bottom: 1rem;
}

.aboutus-left h1 {
    font-size: 2rem;
    color: #1a1a1a;
    margin-bottom: 0.5rem;
}

.aboutus-left p {
    color: #666;
    font-size: 1rem;
}

.aboutus-right {
    width: 60%;
    /* background: linear-gradient(135deg, #6366f1, #00bcd4); */
    background: linear-gradient(90deg, #00aeef 0%, #63C363 100%);
    clip-path: polygon(8% 0%, 100% 0%, 100% 100%, 0% 100%);
    padding: 4rem 3rem;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow-y: auto;
    max-height: 100vh;
    scroll-behavior: smooth;
}

.aboutus-content {

    max-width: 600px;
    overflow-y: auto;

}

.aboutus-content h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #fff;
}

.aboutus-content p {
    font-size: 1rem;
    line-height: 1.7;
    margin-bottom: 1rem;
    color: #f3f4f6;
}

.aboutus-content strong {
    color: #ffffff;
    font-weight: 600;
}

@media (max-width: 768px) {
    .aboutus-container {
        flex-direction: column;
        height: auto;
    }

    .aboutus-left,
    .aboutus-right {
        width: 100%;
        clip-path: none;
        padding: 2rem;
    }

    .aboutus-right {
        padding-top: 0;
    }
}